* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Marck Script";
    src: url("assets/MarckScript-Regular.ttf") format("truetype");
}

.container {
    display: flex;
    flex-direction: row;
}

/* Left half of page with background image ----------------------- */
.image-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("assets/bloom-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 40vw;
}

.image-band {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    background-color: rgb(225, 243, 250);
    opacity: .95;
}

.logo-image {
    width: 7rem;
    height: auto;
}

.logo-text {
    font-family: 'Marck Script', monospace;
    font-size: 7rem;
    color: #00ACBB;
    text-shadow: -2px 2px 0 rgb(133, 131, 131);
}

/* Right half of page with form ------------------------ */

.form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 251, 253);
}

.form-intro, form, .form-end {
    padding: 2.5rem;
}

.form-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 20%;
    font-weight: bold;
}

.logo-font {
    font-family: 'Marck Script', monospace;
    font-size: 1.5rem;
}

.slant-text {
    font-style: italic;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 10px 20px rgb(225, 243, 250), 0px -5px 20px rgb(225, 243, 250);
}

input, label {
    display: block;
}

input {
    padding: 5px;
}

label {
    text-transform: uppercase;
    font-size: .75rem;
}

.block-input {
    display: flex;
    gap: 4rem;
}

input[type=submit] {
    background-color: #00ACBB;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px rgb(225, 243, 250);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #00ACBB;
    font-weight: bold;
}